.App {
  text-align: center;
  font-family: sans-serif;
  padding: 36px;
}

html, body {
  background-image: linear-gradient(#ffffff, #3b41be);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App .nav-bar {
  text-decoration: none;
  color: black;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addFriend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.name-field {
  padding-bottom: 10px;
}

.age-field {
  padding-bottom: 10px;
  padding-left: 12px;
}

.email-field {
  padding-bottom: 10px;
}

button {
  padding: 6px 8px;
  font-size: 16px;
  background: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: white;
}

.login-button {
  padding-left: 140px;
  padding-right: 140px;
}

.password-field {
  padding-bottom: 10px;
  padding-left: 4px;
}

.username-field {
  padding-bottom: 10px;
}
